venv/
.venv/
env/

.idea/

__pycache__/
*.py[cod]
*$py.class

.streamlit/secrets.toml

dist/
build/
*.egg-info/

.DS_Store
Thumbs.db

cnbau_session.db
backups/
export_*
Tableau_FU_MAROC2026.xlsx
Tableau_FP MAROC2026.xlsx
